
{% block content %}
    <h2>Music Tracks</h2>
    <form type="get" action="." style="margin: 0">
    <input  id="searchbox" type="text" name="searchbox"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>
    <table>
        {% for track in musictracks_list %}
            <tr>
                <td>
                    <a href="/music/tracks/{{ track.track_id }}/">{{ track.title }}</a>
                </td>
                <td>
                    {{ track.rating }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/music/tracks?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/music/tracks?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}